{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ApiKey": "your-secret-api-key-min-32-characters-long",
  "TelegramBot": {
    "Token": "YOUR_TELEGRAM_BOT_TOKEN",
    "ChatId": "YOUR_CHAT_ID"
  }
}
